/*
.rvpscarousel {
    display: none;

}

.slick-initialized {
    display: block;
}

*/

.rvpscarousel .slick-slide{
	width: 100%;
  padding: 25px;
  box-sizing: border-box;
}


.rvpscarousel .slick-prev,
.rvpscarousel .slick-next
{
    position: absolute;
    top: 20%;
    display: block;
    width: 60px;
    height: 60px;
    padding: 0;
    -webkit-transform: translate(0, -45%);
    -ms-transform: translate(0, -45%);
    transform: translate(0, -45%);
    cursor: default;
    border: none;
    outline: none;
    background: transparent;
}
.rvpscarousel .slick-prev:before,
.rvpscarousel .slick-next:before
{

    font-size: 60px;
    line-height: 1;
    opacity: 0.75;
    /*color: white; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.rvpscarousel .slick-prev:before
{
    /*content: '←';*/
    content:'<';
    color: black;
    font-size: 60px;
    font-weight: 300px;
}

.rvpscarousel .slick-prev{
  left: 10px;
  z-index: 100;
}

.rvpscarousel .slick-next
{
    right: 10px;
    z-index: 100;
}

.rvpscarousel .slick-next:before
{
  /*  content: '→';*/
  content:'>';
  color: black;
  font-size: 60px;
  font-weight: 300px;
}
